# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env

# Virtual environment
backend/venv/
venv/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# IDE / Sistema
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# PDF / DOC gerados depois
# =========================
*.pdf
*.docx

# =========================
# Cache
# =========================
.cache/
